{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon"
          href="{% static 'favicon.ico' %}"
          type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <meta name="description" content="{{ meta_description }}">
  </head>
  <body>
    {% include "header.html" %}
    <main>
      {% block main %}
      {% endblock main %}
    </main>
    <footer class="max-w-[1200px] m-auto mb-6">
      © 2025 Furai. All rights reserved.
    </footer>
  </body>
</html>
