<div class="max-w-[1200px] mx-auto flex py-24" role="presentation">
  <div class="flex flex-col justify-between flex-1/2 pr-20">
    <h1 class="text-6xl font-bold leading-20">{{ title }}</h1>
    {% if hero_buttons %}
      <ul class="flex gap-2">
        {% for button in hero_buttons %}
          <li>
            <a class="flex h-16 items-center px-8 uppercase font-semibold text-xl border-2 border-black hover:shadow-[2px_2px_0px_rgba(0,0,0,1)]"
               href="{{ button.href }}">{{ button.label }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="flex flex-1/2">
    <img width="600"
         height="288"
         class="object-cover w-full h-72 shadow-[8px_8px_0px_rgba(0,0,0,1)]"
         src="{{ hero_thumbnail }}"
         alt="">
  </div>
</div>
