<section class="max-w-[1200px] mx-auto mb-24" id="contact">
  <h2 class="font-bold text-4xl">Contact</h2>
  <div class="mt-8 flex gap-20">
    <div class="flex w-1/2 flex-col justify-between">
      <div class="flex flex-col">
        <p>You can contact our office at any time during opening hours:</p>
        <table class="mt-8">
          <tbody>
            <tr>
              <td>Monday</td>
              <td>10:00-19:00</td>
            </tr>
            <tr>
              <td>Tuesday</td>
              <td>10:00-19:00</td>
            </tr>
            <tr>
              <td>Wednesday</td>
              <td>10:00-19:00</td>
            </tr>
            <tr>
              <td>Thursday</td>
              <td>10:00-19:00</td>
            </tr>
            <tr>
              <td>Friday</td>
              <td>10:00-19:00</td>
            </tr>
            <tr>
              <td>Saturday</td>
              <td>10:00-19:00</td>
            </tr>
            <tr>
              <td>Sunday</td>
              <td class="uppercase font-medium text-sm">closed</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <address>
          <a class="underline" href="mailto:contact@furai.com">contact@furai.com</a>
          <br />
          18, 29 Soi Pradit Manutham, Nuan Chan, Bueng Kum
          <br />
          Bangkok 10230, Thailand
        </address>
      </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3874.0862855380074!2d100.62910837591811!3d13.833857095386815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d631aa88425fd%3A0xef8750eed54d35f9!2sGarage%20888!5e0!3m2!1sen!2sfr!4v1747409528072!5m2!1sen!2sfr"
            width="600"
            height="400"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
