<section class="w-1/2">
  <h2 class="font-bold text-4xl mb-8">Pricing</h2>
  <table class="w-full">
    <tbody>
      <tr class="h-10 border-b">
        <th class="text-left font-semibold">Hourly rate</th>
        <td>{{ price_hourly_cents }} THB</td>
      </tr>
      <tr class="h-10 border-b">
        <th class="text-left font-semibold">6H package</th>
        <td>-</td>
      </tr>
      <tr class="h-10 border-b">
        <th class="text-left font-semibold">9H package</th>
        <td>{{ price_9_hours_cents }} THB</td>
      </tr>
      <tr class="h-10 border-b">
        <th class="text-left font-semibold">12H package</th>
        <td>{{ price_12_hours_cents }} THB</td>
      </tr>
      <tr class="h-10 border-b">
        <th class="text-left font-semibold">24H package</th>
        <td>{{ price_24_hours_cents }} THB</td>
      </tr>
      <tr class="h-10">
        <th class="text-left font-semibold">Additional day</th>
        <td>-</td>
      </tr>
    </tbody>
  </table>
</section>
