<section class="max-w-[1200px] mx-auto mb-24" id="qa">
  <h2 class="font-bold text-4xl">Questions &amp; Answers</h2>
  <ul class="border-2 mt-8">
    <li>
      <h3 class="font-semibold text-xl bg-black text-white py-1 px-4">Is there any deposit ?</h3>
      <p class="px-4 py-3">
        There isn't any deposit required. The only fee you need to pay is the insurance protection CDW.
      </p>
    </li>
    <li>
      <h3 class="font-semibold text-xl bg-black text-white py-1 px-4">What is the distance limit ?</h3>
      <p class="px-4 py-3">
        Distance limit is different for each package. Please take a look at it when booking a specific car.
      </p>
    </li>
    <li>
      <h3 class="font-semibold text-xl bg-black text-white py-1 px-4">What are the conditions to rent a car ?</h3>
      <div class="px-4 py-3">
        <p>
          To rent any of our car, you need to be at least 21 years old. When booking on our website, you will pay the fee for the collision damage waiver.
          When you come to our office please bring your international driver's licence and passport. Our staff will guide you and you will be ready to go.
        </p>
      </div>
    </li>
  </ul>
</section>
