<section class="max-w-[1200px] mx-auto mb-24">
  <h2 class="font-bold text-4xl mb-8">Specifications</h2>
  <div class="flex gap-20">
    <table class="w-1/2">
      <tbody>
        <tr class="h-10 border-b">
          <th class="text-left font-semibold">Transmission</th>
          <td>{{ car.transmission }}</td>
        </tr>
        <tr class="h-10 border-b">
          <th class="text-left font-semibold">Capacity</th>
          <td>{{ car.capacity }}</td>
        </tr>
        <tr class="h-10 border-b">
          <th class="text-left font-semibold">Drivetrain</th>
          <td>{{ car.drivetrain }}</td>
        </tr>
        <tr class="h-10 border-b">
          <th class="text-left font-semibold">Fuel type</th>
          <td>{{ car.fuel_type }}</td>
        </tr>
        <tr class="h-10 border-b">
          <th class="text-left font-semibold">Fuel consumption</th>
          <td>{{ car.fuel_consumption_metric }}/100km</td>
        </tr>
        <tr class="h-10 border-b">
          <th class="text-left font-semibold">Engine code</th>
          <td>{{ car.engine_code }}</td>
        </tr>
        <tr class="h-10">
          <th class="text-left font-semibold">Power</th>
          <td>{{ car.power_hp }}hp @ {{ car.power_max_rpm }}rpm</td>
        </tr>
      </tbody>
    </table>
    <div class="flex flex-col w-1/2 text-lg leading-8 gap-4">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo reprehenderit necessitatibus, autem consectetur ipsa accusamus nulla repellat velit libero voluptatem quaerat ex non temporibus id labore porro? Velit, doloremque deleniti!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia reiciendis beatae numquam eveniet necessitatibus sit quos quis.
      </p>
    </div>
  </div>
</section>
